<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />

<link href="/css/reset.css" th:href="@{/css/reset.css}" rel="stylesheet" />
<link href="/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />

<title>Sirius SelectShop</title>
</head>
<body>

<header th:insert="fragments/page_header::pageHeader"></header> 　

<main>
	
	<div class="container cart">
	
		<div class="noData" th:if="${cartList == null || cartList.size() == 0}" >
			<p class="info">カート情報はありません。</p>
		</div>
		
		<table class="cart" th:if="${cartList != null && cartList.size() > 0}">
			<tr>
				<th>選択</th><th>画像</th><th>商品名</th><th>価格(円)</th><th>個数</th><th>小計(円)</th>
			</tr>
			<tr th:each="cartList: ${cartList}">
				<td><input type="checkbox" class="checkList" th:value="${cartList.id}" /></td>
				<td><img class="itemImage"	th:src="@{{imagePath} (imagePath=${cartList.imageFullPath}) }" /></td>
				<td th:text="${cartList.productName}"/>
				<td class="number" th:text="${cartList.price}" />
				<td class="number productCount" th:text="${cartList.productCount}" />
				<td class="number subtotal" th:text="${cartList.subtotal}" />
			</tr >
			<tr>
				<td class="totalArea"></td>
				<td class="totalArea"></td>
				<td class="totalArea">合計(円)</td>
				<td class="totalArea"></td>
				<td class="totalArea" id="totalCount"></td>
				<td class="totalArea" id="totalPrice"></td>
			</tr>
		</table>
		
		<div class="buttonArea" th:if="${cartList != null && cartList.size() > 0}">
			<button id="deleteBtn" disabled>削除</button >
			<form action="/sirius/settlement/">
				<button type="submit" id="settlementBtn" >購入</button>
			</form>
		</div>
		
	</div>
	
</main>

<script	th:inline="javascript">
/*<![CDATA[*/

$(() => {
	calcTotalArea();
	$('button#deleteBtn').on('click', deleteCartId);
	$('.checkList').on('click',changeDisable);
	$('#settlementBtn').on('click', loginCheck);
});

/**
 * 合計個数、合計金額を計算
 * @param なし
 * @returns なし
 */
function calcTotalArea() {
	let countList = $('.productCount');
	let subtotalList = $('.subtotal');
	let totalCount = 0;
	let totalPrice = 0;
	
	for (let count of countList) {
 		totalCount += parseInt($(count).text());
 	}
	for (let subtotal of subtotalList) {
		totalPrice += parseInt($(subtotal).text());
 	}
 
	$('#totalCount').text(totalCount);
	$('#totalPrice').text(totalPrice);
}

/**
 * チェックされたカート情報を削除
 * @param 削除ボタンクリックされた際のevent
 * @returns なし
 */
let deleteCartId = (event) => {
	let checkedList = $('.checkList:checked');
	let checkedIdList = [];
	for(checked of checkedList){
		checkedIdList.push($(checked).val());
	}
	
	$.ajax({
		type: 'POST',
		url: '/sirius/cart/delete',
		data: JSON.stringify({'checkedIdList' : checkedIdList}),
		contentType: 'application/json',
		datatype: 'json',
		scriptCharset: 'utf-8'
	})
	.then(
		(result) => {
			for (checked of checkedList) {
				$(checked).parent().parent().remove();
			}
			let checkList = $('.checkList')
			if(checkList.length == 0){
				location.replace('/sirius/cart/');
			}
			calcTotalArea();
			changeDisable();
		}, 
		() => {
			console.error('Error: ajax connection failed');
		}
	);
};

/**
 * 削除ボタンの活性非活性の制御
 * @param チェックボックスが選択された際のevent
 * @returns なし
 */
let changeDisable = (event) => {
	let checkList = $('.checkList');
	let disabled = true;
	for (let check of checkList) {
		if($(check).prop('checked')) {
			disabled = false;
			break;
		}
	}
	$("#deleteBtn").prop("disabled", disabled);
}

/**
 * 未ログイン時に購入ボタンを押した際のアラート表示
 * @param 購入ボタンがクリックされた際のevent
 * @returns false:未ログイン時
 */
let loginCheck = (event) => {
	let userId = /*[[${loginSession.getUserId()}]]*/ 0;
	if(userId == 0 && isEmpty($('#hiddenUserName').val())){
		alert('ログインしてください。');
		return false;
	}
} 

/*]]>*/
</script>

</body>
</html>